@font-face {
    font-family: Gilroy;
    src: url("../../fonts/Gilroy-Light.eot") format("eot");
    src: url("../../fonts/Gilroy-Light.ttf") format("ttf");
    src: url("../../fonts/Gilroy-Light.woff") format("woff");
}
@font-face {
    font-family: Nekst-Black;
    src: url("../../fonts/Nekst-SemiBold.eot") format("eot");
    src: url("../../fonts/Nekst-SemiBold.ttf") format("ttf");
    src: url("../../fonts/Nekst-SemiBold.woff") format("woff");
}

.select {
    margin-left: 32px;
}
.select:first-child {
    margin-left: 47px;
}
.select-header {
    font-family: Gilroy, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #575757;
    margin: 0 0 24px 0;
}
.select-range {
    position: relative;
}
.select-range__number {
    width: 402px;
    height: 66px;
    background: #F3F3F4;
    border: none;
    border-radius: 16px;
    font-family: Nekst-Black, Tahoma, sans-serif;
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;
    color: #575757;
    padding-left: 24px;
}
.select-range__number::placeholder {
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;
    color: #575757;
}
.select-range__number:focus {
    outline: none;
    background: #fff;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 70px;
    width: 427px;
    border: 2px solid #F3F3F4;
}
.select-range__number:disabled {
    opacity: .7;
}
.select-range__number::-webkit-outer-spin-button,
.select-range__number::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.select-range__unit {
    position: absolute;
    font-family: Nekst-Black, Tahoma, sans-serif;
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;
    margin: 0;
    top: 16px;
    right: 16px;
    color: #575757;
}
.disabled {
    opacity: .7;
}
.select-range__range {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 379px;
    height: 2px;
    margin-left: 24px;
    -webkit-appearance: none;
    appearance: none;
    background:#FF9514;
    outline: none;
}
.select-range__range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: #FF9514;
    cursor: pointer;
}
.select-range__range:disabled {
    opacity: .7;
}



@media screen and (max-width: 1024px) and (min-width: 769px) {
    .select-range__number {
        width: 100%;
        margin-right: 48px;
    }
    .select-header {
        margin: 44px 0 24px 0;
    }
    .select-range__range {
        width: 97%;
    }
    .select:first-child {
        margin-left: 47px;
    }
}
@media screen and (max-width: 768px) and (min-width: 610px) {
    .select-range__number {
        width: 100%;
        margin-right: 36px;
    }
    .select-header {
        margin: 44px 0 24px 0;
    }
    .select-range__range {
        width: 94%;
    }
    .select:first-child {
        margin-left: 36px;
    }
}
@media screen and (max-width: 609px) and (min-width: 320px) {
    .select-range__number {
        width: 100%;
        margin-right: 20px;
        font-size: 22px;
        height: 58px;
    }
    .select-header {
        margin: 32px 0 8px 0;
        font-size: 14px;
    }
    .select-range__range {
        width: 93%;
    }
    .select:first-child {
        margin-left: 20px;
    }
    .select-range__unit {
        font-size: 22px;
    }
}

@media screen and (max-width: 1024px) {

}