@font-face {
    font-family: Gilroy;
    src: url("../../fonts/Gilroy-Light.eot") format("eot");
    src: url("../../fonts/Gilroy-Light.ttf") format("ttf");
    src: url("../../fonts/Gilroy-Light.woff") format("woff");
}
@font-face {
    font-family: Nekst-Black;
    src: url("../../fonts/Nekst-SemiBold.eot") format("eot");
    src: url("../../fonts/Nekst-SemiBold.ttf") format("ttf");
    src: url("../../fonts/Nekst-SemiBold.woff") format("woff");
}

.result-title__header {
    font-family: Gilroy, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #575757;
    margin: 0 0 8px 0;
}
.result-value__paragraph {
    font-family: Nekst-Black, Tahoma, sans-serif;
    font-weight: 900;
    font-size: 54px;
    line-height: 90%;
    color: #575757;
    margin: 0;
}

@media screen and (max-width: 609px) and (min-width: 320px) {
    .result-title__header {
        font-size: 14px;
    }
    .result-value__paragraph {
        font-size: 22px;
    }
}