@font-face {
    font-family: Nekst-Black;
    src: url("../../fonts/Nekst-SemiBold.eot") format("eot");
    src: url("../../fonts/Nekst-SemiBold.ttf") format("ttf");
    src: url("../../fonts/Nekst-SemiBold.woff") format("woff");
}

.leasing-title__header {
    width: 100%;
    max-width: 753px;
    height: 98px;
    font-family: Nekst-Black, Tahoma, sans-serif;
    font-size: 54px;
    line-height: 90%;
    font-weight: 900;
    color: #111111;
    margin: 213px 0 0 47px;
}
.leasing-inputs {
    display: flex;
    flex-wrap: wrap;
}
.leasing-result {
    display: flex;
}
.leasing-inputs__container-button {
    width: 426px;
    height: 68px;
    background: #FF9514;
    border-radius: 40px;
    color: #FFFFFF;
    font-family: Nekst-Black, Tahoma, sans-serif;
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;
    border: none;
    margin: 51px 0 0 47px;
}
.leasing-inputs__container-button:hover {
    background: #111111;
    transition: background .2s ease-in;
    cursor: pointer;
}
.leasing-inputs__container-button:active {
    background: #575757;
    transition: background .1s ease-in-out;
}
.leasing-inputs__container-button:disabled {
    background: rgba(255, 149, 20, 0.4);
}
.leasing-results {
    display: flex;
    flex-wrap: wrap;
}
.leasing-inputs__block {
    width: 100%;
    min-width: 428px;
    max-width: 428px;
    margin: 51px 0 0 47px;
}
.leasing-inputs__block-button {
    margin: auto 0;
}


@media screen and (max-width: 1024px) and (min-width: 769px) {
    .leasing-title__header {
        max-width: 700px;
        margin: 100px 0 44px 47px;
    }
    .leasing-inputs__block {
        min-width: 279px;
        max-width: 279px;
        margin: 51px 50px 0 47px;
    }
}
@media screen and (max-width: 768px) and (min-width: 610px) {
    .leasing-title__header {
        max-width: 700px;
        margin: 64px 0 44px 36px;
    }
    .leasing-inputs__block {
        min-width: 279px;
        max-width: 279px;
        margin: 51px 38px 0 47px;
    }
}
@media screen and (max-width: 609px) {
    .leasing-title__header {
        font-size: 34px;
        width: auto;
        height: auto;
        margin: 44px 0 32px 21px;
    }
    .leasing-inputs__block {
        min-width: 279px;
        max-width: 279px;
        margin: 25px 0 0 20px;
    }
    .leasing-inputs__container-button {
        font-size: 22px;
    }
}

@media screen and (max-width: 1024px) {
    .leasing-inputs {
        display: block;
    }
    .leasing-inputs__container-button {
        width: 280px;
        margin: 32px 0 0 20px;
    }
}